$primary-color: #3498db;
$soft-black: #222222;
$white: #ffffff;
$text-black: #444443;

$search-container: $white;
$search-submit-bg: $primary-color; 
$search-submit-text: $white;
$search-hot-span: $white;
$footer-black: $soft-black;
$copyright: #9d9d9d;
$nav-icon: #9d9d9d;
$search-banner: $primary-color;
$search-banner-submit: $soft-black;
$card: $white;
$filter-unselected-hover: #f4f2f2;
$filter-selected-bg: $primary-color;
$filter-selected: $white;

$visited-link: #551a8b;
$subject-footer: #959595;