.image-center {
    display: block;
    margin: auto;
}

.text-single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-center {
    text-align: center;
}

.div-center {
    margin: auto;  
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}